.text_block {
    color: var(--color-text);
    position: relative;

    &_h {
        font-size: 2rem;
        line-height: 2.4rem;
        color: var(--color-header);
        margin-bottom: 1.5rem;
    }

    &_p {
        line-height: 1.75;
    }
}